* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Source Code Pro', monospace;
    background-color: #93BFB7;
    background-repeat: no-repeat;
    height: 100vh;
}
main, header {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}
header h1 {
    font-weight: lighter;
    font-size: 20pt;
}
.divUser {
    display: flex;
    background-color: #f1f1f1;
    margin: 15px auto 15px auto;
    width: 100%;
    border-radius: 12px;
    padding: 20px;
    justify-content: space-between;
    transition: all 0.2s ease;
}
.divUser img {
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.divUser h2, .divUser h3 {
    font-weight: lighter;
    margin: auto 0px;
}

.divUser:hover,
.divUser:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  box-shadow: 0px 0px 7px black;
}

.divUser a img {
    width: 68px;
    height: 40px;
}

input {
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    width: 320px;
    height: 45px;
    background-color: #ddd;
    transition: .3s;
    margin-left: 110px;
    margin-bottom: 30px;
    padding-left: 20px;
}
input[type=text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
input[type=password]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
input[type=email]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
input[type=file]{
    padding-left: 15px;
    padding-top: 11px;
}
input[type=submit]{
    color: #fff;
    background-color: #387373;
    border-radius: 10px;
    transition: all 0.6s ease;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #54a8a8;
}

#div_shadow {
    background-color: rgba(0,0,0,0.62);
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1000;
    opacity: 1;
    transition: all 0.5s ease;
}
#div_shadow div {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 40%;
    padding: 20px;
    padding-left: 40px;
    margin: 7% auto 7% auto;
    height: 68%;
}

