* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Source Code Pro', monospace;
    background: rgb(144,161,196);
    background: linear-gradient(342deg, rgba(144,161,196,1) 0%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}
main {
    margin: 50px auto;
}
.bglogin {
    width: 1050px;
    height: 700px;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}
img {
    object-fit: cover;
    width: 525px;
    height: 700px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.logo h2 {
   margin-top: 15px;
   margin-left: 20px;
   text-transform: uppercase;
   font-weight: 900;
}
.texto {
    margin-top: 80px;
    margin-left: 95px;
}
.texto h1{
    padding-left: 100px;
    font-weight: 900;
}
.texto h4{
    font-weight: 600;
}
input {
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    width: 320px;
    height: 45px;
    background-color: #ddd;
    transition: .3s;
    margin-left: 110px;
    margin-bottom: 30px;
    padding-left: 45px;
}
input[type=email]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
input[type=password]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.inputsvgemail svg {
    position: absolute;
    left: 400px;
    top: 415px;
    padding: 9 10px;
    transition: 3s;
}
.inputsvgsenha svg {
    position: absolute;
    left: 400px;
    top: 490px;
    padding: 9 10px;
    transition: 3s;
}
button {
    border: 2px solid #000;
    border-radius: 20px;
    outline: none;
    width: 320px;
    height: 45px;
    background-color: #1f1f1f;
    transition: .3s;
    margin-left: 110px;
    margin-bottom: 30px;
    color: #fff;
    cursor: pointer;
}
.logingoogle button{
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: #CCC;
    width: 320px;
    height: 45px;
    background-color: #fff;
    transition: .3s;
    color: #1f1f1f;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-left: 30px;
}
.logingoogle svg {
    position: absolute;
    left: 480px;
    top: 291px;
    padding: 9 10px;
    transition: 3s;
}
h6 {
    font-size: 25px;
    padding-bottom: 25px;
    position: absolute;
}
h6::before {
    content: '';
    position: absolute;
    height: 5px;
    width: 120px;
    bottom: 65px;
    left: 210px;
    border-radius: 8;
    background:linear-gradient(to top right, #334355 0%, #1077ec 100%);
}
a{
    text-decoration: none;
}
.es h5{
    font-weight: 600;
    color: #1077ec;
    margin-left: 300px;
    margin-top: -20px;
    padding-bottom: 30px;
}
.sigin {
    margin-left: 155px;
}
.sigin h5 {
    font-weight: 600;
}
.sigin a {
    color: #1077ec;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
  }
  

.btn-15 {
    background: #1f1f1f;
    border: none;
    z-index: 1;
    width: 320px;
    height: 45px;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #2fe767;
    border-radius: 5px;
     
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }