* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(335deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    font-family: sans-serif;
}
main{
    padding-top: 39px;
}
.bgform {
    background-color: #fff;
    width: 1400px;
    height: 750px;
    border-radius: 20px;
    margin-left: 100px;
}
.sections {
    display: flex;
    align-items: center;
    justify-content: center;
}
section {
    margin: 20px;
    padding-top: 40px;
    width: 20%;
}
label{
    display: block;
}
input[type=text] {
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    width: 200px;
    height: 45px;
    background-color: #ddd;
    transition: .3s;
    margin-bottom: 22px;
    margin-top: 10px;
    padding: 5px;
}
input[type=password] {
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    width: 200px;
    height: 45px;
    background-color: #ddd;
    transition: .3s;
    margin-bottom: 22px;
    margin-top: 10px;
    padding: 5px;
}
input[type=date] {
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    width: 200px;
    height: 45px;
    background-color: #ddd;
    transition: .3s;
    margin-bottom: 22px;
    margin-top: 10px;
    padding: 5px;
}
input[type=email] {
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    width: 200px;
    height: 45px;
    background-color: #ddd;
    transition: .3s;
    margin-bottom: 22px;
    margin-top: 10px;
    padding: 5px;
}
input[type=tel] {
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    width: 200px;
    height: 45px;
    background-color: #ddd;
    transition: .3s;
    margin-bottom: 22px;
    margin-top: 10px;
    padding: 5px;
}
input::placeholder {
    padding: 10px;
}
input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 2px 0 dodgerblue;
}
input[type=checkbox] {
    width: 20px;
    margin-bottom: 22px;
    padding: 5px;
    margin-top: 10px;
}
input[type=radio] {
    width: 20px;
    margin: 8px;
}
select {
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    width: 200px;
    height: 45px;
    background-color: #ddd;
    transition: .3s;
    margin-bottom: 22px;
    margin-top: 10px;
    padding: 10px;
}
input[type=submit] {
    position: absolute;
    border: 2px solid #68e263;
    border-radius: 20px;
    outline: none;
    width: 240px;
    height: 55px;
    background-color: #3ce036;
    color: #fff;
    text-transform: uppercase;
    margin-left: 1140px;
    margin-top: -90px;
    cursor: pointer;
}
textarea{
    resize: none;
}